h1 { text-align: center }

h2 { text-align: center }

ul {
    line-height: 1em;
    list-style: none;
}

p {
    z-index: 99;
}

li:before {
    color: #739E3B;
    content: "\2023";
    font-size: 30px;

}

li:nth-child(2):before {
  color: #B44B30;
}

li:nth-child(3):before {
  color: #533B61;
}

li:nth-child(4):before {
  color: #A9212F;
}

img { transition: all .3s ease-in-out; }
img:hover { transform: scale(1.05); }

.no-side-padding{
  padding-left: 0;
  padding-right: 0;
}

/* ARROWS ON LINES */

.line-container {
  display: flex;
  width: 66%;
  align-items: center;

}

.title.line {
  flex-grow: 1;
  height: 10px;
  background: #4b4b4b;
  position: relative;
  margin-top: -500px;
  z-index: -0;
}

.title.line.arrow-right:after {
  position: absolute;
  content: '';
  bottom: -5px;
  right: -10px;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 20px solid #4b4b4b;
}

.environment.line {
  flex-grow: 1;
  height: 10px;
  background: #739E3B;
  position: relative;
}

.environment.line.arrow-right:after {
  position: absolute;
  content: '';
  bottom: -5px;
  right: -10px;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 20px solid #739E3B;
}

.no-right-margin{
  margin-right: 0;
  margin-left: 0;
}

@media screen and (min-width: 768px) {
  
  .margin-up{
    margin-top: -50px;
    padding-bottom: 50px;
  }

  .expansion {
  margin-left: -15px;
  }

  .pad-top-100 {
    padding-top: 100px;
  }

  .title-list {
    font-size: 18pt;
    margin-top: -200px;
  }

  .transit.line-container {
  display: flex;
  width: 66%;

  }

   .rural.line-container {
  display: flex;
  width: 66%;

  }

  .bodydiv {
  width:200px;
  height:200px;
  padding-bottom: 150px;
  padding-right:50px;
  }

  .energy {
  padding-left: 50px;
  }

}


@media screen and (max-width: 767px) {
  
  .transit.line-container {
    display: flex;
    width: 66%;
  }

  .rural.line-container {
    display: flex;
    width: 66%;
  }

  .bodydiv {
  width:200px;
  height:200px;
  padding-bottom: 150px;
  padding-right: 15px;
  }

  .energy {
  padding-left: 0;
  margin-top: -50px;
  }

  .electric-car {
    padding-bottom: 25px;
  }

}


#Title {
  padding-top: 100px;
}

.rural.line {
  flex-grow: 1;
  height: 10px;
  background: #B44B30;
  position: relative;
}

.rural-road {
  padding-right: 0;
}

.rural.line.arrow-left:after {
  position: absolute;
  content: '';
  top: -5px;
  left: -10px;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 20px solid #B44B30;
}

.protecting.line {
  flex-grow: 1;
  height: 10px;
  background: #533B61;
  position: relative;
}

.protecting.line.arrow-right:after {
  position: absolute;
  content: '';
  bottom: -5px;
  right: -10px;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 20px solid #533B61;
}

.transit.line {
  flex-grow: 1;
  height: 10px;
  background: #A9212F;
  position: relative;
}

.transit.line.arrow-left:after {
  position: absolute;
  content: '';
  top: -5px;
  left: -15px;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 20px solid #A9212F;
}

#culvert {
  overflow: hidden;
}

#road {
  overflow: hidden;
}

.ambulance {
  overflow: hidden;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
}

.doctors {
  padding-left: 50px;
}

.road {overflow: hidden;}

.park {}

.buses {
  padding-left: 50px;
}


#bridge {overflow: hidden;}

#trees {overflow: hidden;}

#expansion {overflow: hidden;}

.hideme
{
    opacity:0;
}

.logo {
  position: relative;
  margin-top: -50px;
  z-index: 999;
  padding-left: 0;
  margin-left: 0;
}


/* TO TOP NAVIGATION BUTTON */

#toTopBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #555; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */

    width: 60px;
    height: 60px;
    text-align: center;
    padding: 6px 0;
    line-height: 1.42;
    border-radius: 30px
}

#toTopBtn:hover {
    background-color: black; /* Add a dark-grey background on hover */
}

.triangle-left {
    background-position: center left;
    background-image: url(../img/triangle-left.png);
    background-repeat: no-repeat;
}

.triangle-right {
    background-position: center right;
    background-image: url(../img/triangle-right.png);
    background-repeat: no-repeat;
}

.triangle-logo {
    background-position: top left;
    background-image: url(../img/logo-triangle.png);
    background-repeat: no-repeat;
    overflow: visible;
}